.a1{
    width: 80px;
    height: 50px;
    background-color: red;border: red;
}
.a2{
    width: 80px;
    height: 50px;
}
.a3{
    width: 80px;
    height: 50px;
}
.a4{
    width: 80px;
    height: 50px;
}


.a5{
    width: 80px;
    height: 50px;
}